@charset "UTF-8";
/* CSS Document */

html {
	
	background-image: url(../Opdracht_Fotogalerij/fotogallery-background-image.jpg) ;
 	background-repeat: no-repeat;
	background-size: cover;
	font-family: Arial;
	color: #e030af;
	
}

.center {
	width: 1200px;
	background-color: rgba(234,192,128,0.44);
	margin: 0 auto;
	min-height: 910px;
}

/*ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(234,192,128,0.44);
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #FFB871 ;}

ul.topnav li.right {float: right;}

.active {
    background-color: #FFB871;
}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}
*/
.box {
	width: 500px;
	height: 200px;
	position: absolute;
}

.foto {
	padding-left: 200px;
	padding-top: 400px;
}

.quizbox {
	color: black;
    font-size: 12;
    line-height: 1.5em;
    background-color: #FFB871;
    padding: 10px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    margin: auto;
	position: absolute;
    width: 700px;
			}


#sidebar {
	position: fixed;
	width: 200px;
	height: 100%;
	background-color: #FFA52E;
	left: -200px;
	transition: all 500ms linear;
}

#sidebar.active {
	left: 0px;
}


#sidebar ul li {
	color:rgba(230,230,230,0.9);
	list-style: none;
	padding:15px 10px;
	border-bottom: 1px solid rgba(100,100,100,0.3);
}

#sidebar .toggle-btn {
	position: absolute;
	left: 230px;
	top: 20px;
}

#sidebar .toggle-btn span {
	display: block;
	width: 30px;
	height: 5px;
	background: #E4B634;
	margin: 5px 0px;
}













